    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }
    
     :root {
        --colorMain: #0CC;
        --btnbg: #F0F0F0;
        --textcolor: #999;
    }
    /* blog-home start */
    /* sidebar start */
    
    .sidebar {
        background: var(--colorMain);
        max-width: 320px !important;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: space-evenly !important;
        justify-content: space-evenly;
        color: #fff;
        position: fixed;
        overflow: scroll;
        z-index: 999;
        transition: all 0.4s ease-in-out;
    }
    
    .sidebar::-webkit-scrollbar {
        display: none;
    }
    
    .header__main__icon {
        position: relative;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-transform: capitalize;
    }
    
    .bar-modal {
        width: 50px;
        height: 40px;
        background: var(--colorMain);
        color: #fff;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 2%;
        left: 0%;
        z-index: 9999;
        display: none;
    }
    
    .header__main__icon i {
        font-size: 75px;
    }
    
    .header__pages {
        width: 335px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .header__pages .home {
        width: 90%;
        height: 70px;
    }
    
    .home:hover {
        background: #fff;
        color: var(--colorMain);
        cursor: pointer;
    }
    
    .home:hover a {
        background: #fff;
        color: var(--colorMain);
        cursor: pointer;
    }
    
    .home a {
        text-decoration: none;
        color: #fff;
    }
    
    .home {
        font-size: 22px;
        text-transform: capitalize;
        position: relative;
    }
    
    .home::before {
        content: "";
        display: none;
        width: 300px;
        height: 70px;
        position: absolute;
        left: 0px;
        top: 12px;
        border: 1px solid #fff;
    }
    
    .home:hover::before {
        display: block;
    }
    
    .header__icons {
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap !important;
    }
    
    .header__icons__icon {
        width: 55px !important;
        height: 55px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    .header__icons__icon:hover i {
        color: rgb(39, 39, 122);
        transition: all 0.3s ease-in-out;
    }
    
    .header__icons__icon i {
        color: var(--colorMain);
    }
    
    .header__text p {
        font-size: 18px;
        letter-spacing: 1.5px;
        line-height: 35px;
    }
    /* sidebar end */
    /* mainside start */
    
    .content {
        /* width: 100%; */
        margin-right: 120px;
    }
    
    .mainside {
        width: 65%;
        /* margin: 35px 0; */
        /* display: flex;
   flex-direction: column;
   justify-content: flex-end; */
    }
    
    .mainside__search {
        width: 100%;
        justify-content: flex-end;
    }
    
    .mainside__search input {
        width: 480px;
        height: 60px;
        margin-right: 30px;
        outline: none;
        border: 1px solid var(--colorMain);
        padding: 10px;
        font-size: 18px;
        transition: box-shadow 0.3s ease-in-out;
    }
    
    .mainside__search input:focus {
        box-shadow: 0 0 2px 2px rgb(113, 202, 202);
    }
    
    .mainside__search button {
        width: 60px;
        height: 60px;
        background: var(--colorMain);
        border: none;
        color: #fff;
        font-size: 21px;
        transition: background 0.3s ease-in-out;
    }
    
    .mainside__search button:hover {
        background: rgb(2, 158, 158);
    }
    
    .mainside__search {
        margin: 75px 0 !important;
    }
    
    .mainside__content__up .blog hr:nth-child(1) {
        border-top: 5px solid var(--colorMain);
        opacity: 1;
        padding-bottom: 50px;
        color: #fff;
    }
    
    .blog__card {
        position: relative;
    }
    
    .img {
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0.7;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
    }
    
    img {
        width: 450px !important;
        height: 220px;
        margin-bottom: 25px;
        transition: all 0.4s ease-in-out;
    }
    
    .img img:hover {
        transform: translateX(-20px);
    }
    
    .img:hover {
        opacity: 1;
        background-position: center;
        cursor: pointer;
    }
    
    .card__new {
        width: 75px;
        height: 50px;
        background: var(--colorMain);
        position: absolute;
        top: -30px;
        right: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .card__new a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
    }
    
    .blog__text p:nth-child(1) {
        font-size: 25px;
        color: rgb(0, 150, 150);
    }
    
    .blog__text p:nth-child(2) {
        line-height: 35px;
        font-size: 18px;
        color: rgb(146, 143, 143);
        margin-top: 25px;
        margin-bottom: 70px;
    }
    
    .comment__author span {
        color: rgb(0, 150, 150);
        font-size: 18px;
    }
    
    .card__comments__rate span {
        color: rgb(146, 143, 143);
    }
    
    .mainside__content__down .blog hr:nth-child(1) {
        border-top: 5px solid var(--colorMain);
        opacity: 1;
        padding-top: 15px;
        color: #fff;
    }
    /* mainside end */
    /* footer start */
    
    .footer__left {
        margin-top: 20vh !important;
        margin-bottom: 70px !important;
        width: 290px !important;
    }
    
    .footer__left button:nth-child(1) {
        width: 120px;
        height: 55px;
        border: none;
        border-radius: 5px;
        background: var(--btnbg);
        color: var(--textcolor);
        font-size: 20px;
        cursor: not-allowed;
    }
    
    .footer__left button:nth-child(2) {
        width: 120px;
        height: 50px;
        border: none;
        border-radius: 5px;
        /* background: var(--colorMain);
    color: #fff; */
        font-size: 20px;
        cursor: pointer;
    }
    
    .footer__right {
        margin-top: 20vh !important;
        margin-bottom: 70px !important;
    }
    
    .footer__right button:nth-child(2) {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        border: none;
        font-size: 18px;
    }
    
    .footer__right button:not(:nth-child(2)) {
        width: 50px;
        height: 50px;
        border-radius: 5px;
        border: none;
        color: var(--textcolor);
        background: var(--btnbg);
        font-size: 18px;
    }
    
    .footer__right button:hover {
        background: var(--colorMain);
        color: #fff;
    }
    
    .footer__right span {
        color: var(--textcolor);
        font-size: 18px;
    }
    
    .footer__text h3 {
        font-size: 18px;
        color: var(--textcolor);
        font-weight: normal;
    }
    
    .footer__text span {
        color: var(--colorMain);
        cursor: pointer;
    }
    
    .active {
        background: var(--colorMain);
        color: #fff;
    }
    /* footer end */
    /* blog-home end */
    /* Adaptive start */
    
    @media screen and (min-width: 993px) {
        .sidebar {
            transform: translateX(0) !important;
            display: flex !important;
        }
    }
    
    @media screen and (max-width: 992px) {
        .sidebar {
            transform: translateX(-150%);
        }
        .mainside {
            width: 80% !important;
        }
        .bar-modal {
            display: flex;
            position: fixed;
        }
        .footer__left {
            width: 100% !important;
        }
    }
    
    @media screen and (max-width: 535px) {
        .content {
            display: flex !important;
            justify-content: center !important;
        }
        .mainside__search input {
            width: 60% !important;
            margin: auto !important;
        }
        .blog {
            width: 80% !important;
            margin: auto;
        }
    }
    /* Adaptive end*/